
<div class="container w-50">
    <div>
      <h1><%= @task.title %></h1>
      <h4>Edit:</h4>
        <%= form_for(@task) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :details %>
      <%= f.text_area :details, class: 'form-control' %>
    </div>
    <p><%= f.check_box :completed %>
      Completed?
    </p>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <hr>
  <p><%= link_to "⬅️ Back to list", tasks_path %></p>
</div>
