<h1>My Tasks </h1>
<h2> <%= link_to 'Add a new task', new_task_path %> </h2>
<% @tasks.each do |task| %>
  <h2> <%= task.title %> </h2>
  <p> <%= task.details %> </p>
  <div><%= check_box_tag task.completed %> </div>
  <%= link_to 'Details', task_path(task) %>
  <%= link_to 'Remove task', task_path(task), method: :delete %>
<% end %>
