<div class="container w-50" style="margin-top: 50px">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2696&q=80" alt="card image task">
    <div class="card-body">
      <h1 class="card-title">Laundry</h1>
      <h5 class="card-text">Details:</h5>
      <p class="card-text"><%= @task.details %></p>
      <br>
    <% if @task.completed == true %>
          <p><% check_box_tag(@task.title, @task.details, true) %>
          <%= "Uhuul! You've completed #{@task.title}!" %></p>
    <% else %>
          <p><% check_box_tag(@task.title, @task.details, @task.completed) %>
          <%= "#{@task.title} is yet to be completed!" %></p>
    <% end %>
    <%= button_to "Edit this task", edit_task_path, method: :get, class: "btn btn-outline-secondary"%>
  </div>
   </div>
    <hr>
    <p><%= link_to "â¬…ï¸ Back to list", tasks_path %></p>
</div>
